*{
margin: 0;
padding: 0;
box-sizing: border-box;
    
}
:root{
--baige : #F8E6B2;
--yellow: #F6B72E;
--vert: #556B2F;
--titre : "Lora", serif;
--texte : "Source Sans 3" , sans-serif;
--size-h2 : 46px


}
a{
font-family: var(--titre);
text-decoration: none;
}

body{
    font-family: var(--texte);
    background-color: var(--baige);
     padding-top: 80px;
}
h1 , h2 , h3 , h4  {

    font-family: var(--titre);
}
nav{
    background-color: var(--yellow );
    width: 100%; 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    position: fixed;
   top: 0;
     z-index: 1000;
}
.logo img{
  max-height: 100%;
 
}
.navigation a {
  font-weight: bold;
    color: black;
    
    

}
.navigation{
    display: flex;
    align-items: center;
    gap: 30px
    
}
nav button{
   border: none;
   background-color: var(--vert); 
   padding: 15px 8px;
   color: white;
   border-radius: 30px;
   font-weight: bold;
   font-family: var(--titre);
   
}

.navigation .active{
    background-color: var(--vert);
    color: white;
    padding: 10px 8px;
    border-radius: 30px;
}
.hero-section{
    background-image: url(images/thimidrine-hero.webp);
   width: 100%;
   height: 610px;
    
       background-size: cover;
      
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    
}
.hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(248, 230, 178, 0.47); ;
    
   
    
}
.hero-info{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 140px;
    gap: 20px;
    position: absolute;
    
    
}
.hero-info h1{
font-size: 58px;
color: var(--vert);

}

.hero-info p{
    font-size: 25px;
   
    width: 90%;

}

.button-hero{
  display: flex;
  gap: 20px;

}
.button-hero button {
padding: 15px 18px;
border-radius: 30px;
border: none;

}
.button-hero .btn1{
    background: var(--vert);
    color: white;
}
.button-hero .btn2{

    background: var(--baige);
    border: var(--vert) solid 3px;
   
}


.nous{
display: flex;
flex-direction: column;
gap: 40px;
    width: 62%;
   
    margin-left: 100px;
    margin-top: 150px;

}
.nous h2{
    color: var(--vert);
    font-size: var(--size-h2);
}
.text-nous{

display:flex;
flex-direction: column;
gap: 20px;
}
.nous button{

    width: 200px;
    padding: 18px 5px;
    border-radius: 30px;
    border: none;
    background-color: var(--vert);
    color: white;
    
}
.carte-produit {
 flex: 0 0 calc((100% - 350px) / 3);
 height: 480px;
 border: var(--vert) solid 3px;
 border-radius: 10px;
  
   

}
.carte-produit img {
    width: 98%;
    height: 60%;
   display: block;
   margin: 5px auto;
   background-size: cover;
   border-radius: 10px;
}
.info-produit{
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.info-produit h3 {
    color: var(--vert);
}
.prix{
    display:flex;
    gap: 5px;
    align-items: center;
    
}
.prix h4{
    font-size: 20px;
    color: var(--yellow);
}
.prix-commande{
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: space-between;

}
.prix-commande button {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    background-color: var(--yellow);
    font-weight: bold;
    
}

.produits-phares {
    margin: 160px 0 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.produits-phares h2{
    font-size: var(--size-h2);
    color: var(--vert)
}
.produits-phares .text-phare{
    width: 50%;
    
}
.cartes-produits{
    display: flex;
    justify-content: space-around;
}

.produits-phares .btn1 button{
    width: 180px;
    padding: 15px 0;
    border-radius: 30px;
    border: none;
    background-color: var(--vert);
    color: white;
}
.produits-phares .btn1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.envie {
margin-left: 80px;
display: flex;
flex-direction: column;
gap: 30px;

}
.envie h2{
    font-size: var(--size-h2);
    color: var(--vert);
}
.envie p{
    width: 50%;
}
.envie button{
    width: 200px;
     padding: 15px 8px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    background-color: var(--vert);
    font-weight: bold;
    color: white;
    
}
footer{
    padding-top: 50px;
    background-color: var(--yellow);
    
}
footer h3{
    color: var(--vert);
}
.info-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

   
}
.ico-texte {
    display: flex;
    align-items: center;

}
.lien-plan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}
.lien-plan a{
    color: black;
}
.ho-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.resaux {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.resaux-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.resaux-img img {
    width: 35px;
    
}

.horaire{
    width: 260px;
}
.copyright{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}


.copyright .ligne{

    width: 100% ;
    height: 1px;
    background-color: black;

}

.titre-page-produit{
    font-family: var(--titre);
    font-size: 52px;
    color: black;
    text-align: center;
    margin: 30px;
}
.tous-les-produits{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 80px;
    
}

.titre-propos {
  
    font-family: var(--titre);
    font-size: 52px;
    color: black;
    text-align: center;
    margin: 30px;
}
.histoire{
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    gap: 30px;
    width: 60%;
    
}
.histoire h2{
   font-size: var(--size-h2); 
   font-family: var(--titre);
   color: var(--vert);
}
.text-histoire{
    display: flex;
    flex-direction: column;
    gap:15px


}
.valeur h2{
     font-size: var(--size-h2); 
   font-family: var(--titre);
   color: var(--vert);
}
.valeur{
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
}
.carte-valeur{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    width: 350px;
    gap: 20px;
    border: var(--vert) solid 3px;
    border-radius: 30px;
    
    
}
.cartes-valeurs{

    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 140px;
}

.titre-carte{
    display: flex;
    font-size: 30px;
    font-family: var(--titre);
    align-items: center;
    color: var(--vert);
    gap: 10px;
}
.titre-contact{

     font-family: var(--titre);
    font-size: 52px;
    color: black;
    text-align: center;
    margin: 30px;

}
.carte-contact1{
background-color: var(--vert);
width: 30%;
height: 100%;
padding: 30px 30px 50px 50px;
border-radius: 30px;


}
.carte-contact1 h3 {
    font-size: 26px;
    color: var(--yellow);
    margin-bottom: 20px;


}
.info-carte-contact{
display: flex;
align-items: center;
gap: 10px;



}
.info-carte-contact img{
width: 30px;

}
.contact{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 80px;
}
.carte-contact2{
background-color: var(--vert);
width: 30%;
padding: 30px 30px 50px 50px;
border-radius: 30px;


}
.carte-contact2 h3{
    font-size: 26px;
    color: var(--yellow);
    margin-bottom: 20px;
  
}

.carte-contact2 .btn1 button{
    padding: 15px 50px;
border-radius: 30px;
border: none;
background-color: var(--yellow);
margin-top: 30px;

}
.carte-contact2 .btn1 {
    display: flex;
    justify-content: center;
}

.info-commande input{

    width: 90%;
    height: 40px;
    border-radius: 30px;
    border: #F6B72E solid 2px;
    padding-left: 10px;
    background-color: var(--baige);
    

}
.info-commande select{
    width: 90%;
    height: 40px;
    border-radius: 30px;
    border: #F6B72E solid 2px;
    padding-left: 10px; 
     background-color: var(--baige);
}


.commande-contact{
 display: flex;
 flex-direction: column;
 gap: 10px;


}
.info-commande{

    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

.info-commande h4{
    margin-left: 10px;
    
}


.Messagecommande textarea{
     width: 90%;
    min-height: 230px;
    border-radius: 30px;
    border: #F6B72E solid 2px;
    padding: 10px 5px 5px 10px;

     background-color: var(--baige);
   

    
}
.Messagecommande h4 {
    margin-left: 10px;
}

.Messagecommande{

    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.info-cartes-contacts{

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.resaux-contact img{

width: 40px;
}
.resaux-contact{

    display: flex;
    gap: 10px;
}

















    
